<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mabatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.MemberDAO-mapper">
	
	<insert id="newMember" parameterType="com.gaon.prj.member.vo.MemberVO">
		insert into member_tbl 
		(id,pw,nickname,email,phone)
		values(
		#{id},
		#{pw},
		#{nickname},
		#{email},
		#{phone}
		)
	</insert>
	
	<select id="memberCheck" parameterType="com.gaon.prj.member.vo.MemberVO" resultType="com.gaon.prj.member.vo.MemberVO">
		select id, pw, nickname,email,phone,dcnt,gcnt,cdate
		from member_tbl 
		where id = #{id} 
		  and pw = #{pw}
	</select>
	
</mapper>